@mixin prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

body {
  position: relative;
  background: #2d2e32;
  * {
    @include prefix(box-sizing, border-box);
    font-family: sans-serif;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #2d2e32;
  z-index: 100;
  padding: 15px 10px 5px 10px;
  width: 100%;
}

.logo {
  display: inline-block;
  position: relative;

  > div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
  }

  &:hover > div {
    display: block;
    @include prefix(animation, fadein 500ms);
  }
}

@keyframes fadein {
  from { opacity: 0 }
  to   { opacity: 1 }
}

.user-panel {
  display: inline-block;
  position: absolute;
  right: 0;
  margin-right: 25px;
}

.content {
  position: relative;
  margin-top: 75px;
  margin-left: 60px;
  font-size: 0;
  width: calc(100% - 60px);
  height: calc(100% - 75px);
}

.feature {
  position: relative;
  display: inline-block;
  width: 429px;
  height: 690px;
  background-repeat: no-repeat;
  background-size: cover;
  vertical-align: top;
}

.feature-text {
  position: absolute;
  width: 60%;
  margin: 10% 0 0 10%;

  & :first-child {
    color: white;
    font-size: 7pt;
    opacity: 0.2;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  & :last-child {
    font-size: 22pt;
    color: white;
  }

  &::after {
    content: "";
    display: block;
    border: 0;
    border-top: 1px solid #134a68;
    width: 140%;
  }
}

.stories {
  display: inline-block;
  background: white;
  width: 600px;
}

.share-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 50px;

  img {
    position: absolute;
    display: inline-block;
    right: 0;
    margin-right: 10px;
    top: 50%;
    transform: translate(0, -50%);
  }

  input {
    display: inline-block;
    position: absolute;
    border: none;
    width: 100%;
    height: 50px;
    padding: 10px;
  }
}

.stories-grid {
  font-size: 0;
}

.story {
  position: relative;
  display: inline-block;
  background: white;
  width: 300px;
  height: 320px;
  font-size: 12pt;
}

.story-cover {
  position: relative;
  width: 100%;
  height: 50%;
  background: no-repeat center;
  background-size: cover;
}

.story-content {
  position: absolute;
  width: 100%;
  height: 65%;
  bottom: 0;
  z-index: 10;

  &::before {
    position: absolute;
    content: "";
    display: block;
    background: white;
    width: 100%;
    height: 100%;
    @include prefix(opacity, 0.8);
  }
}

.story-content-title {
  position: relative;
  width: 100%;
  height: 40%;
  opacity: 1;

  div {
    position: absolute;
    width: 60px;
    height: 60px;
    background: no-repeat center;
    background-size: cover;
    margin: 3% 0 0 7%;
  }

  p {
    display: inline-block;
    margin: 3% 0 0 30%;
    color: #1683bb;
    font-family: sans-serif;
    font-weight: bold;
  }

  span {
    display: block;
    margin: 0 0 0 30%;
    font-size: 8pt;
    color: #acaaab;
  }
}

.story-content-text {
  position: relative;
  width: 100%;
  padding: 0 8% 0 8%;
  font-size: 10pt;
}

.story-content-footer {
  position: relative;
  width: 100%;
  padding: 3% 8% 0 8%;

  > :nth-child(n + 2) {
    &::before {
      content: "\2022  ";
      color: #e7e7e7;
    }
  }
}

.footer-item {
  position: relative;
  display: inline-block;

  :first-child {
    display: inline;
    padding: 0;
    color: #acaaab;
    font-size: 9pt;
    text-decoration: none;
  }

  :last-child {
    display: inline;
    padding: 0;
    color: #5cd8ff;
    font-size: 9pt;
    font-weight: bold;
  }
}

.user-bar {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 282px;
  height: 100%;

  &::after {
    content: "";
    display: block;
    position: absolute;
    height: 0px;
    width: 0px;
    border-top: 12px solid #2D2E32;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 0;
    left: 20px;
  }
}

.user-info {
  position: relative;
  background: #18191d;
  width: 100%;
  height: 100px;
  padding: 15px 0 15px 10px;
}

.user-info-data {
  display: inline-block;
  position: relative;
  height: 50%;
  padding-top: 10px;

  h1 {
    display: inline-block;
    color: #eb3752;
    font-size: 24pt;
    margin: 0;
    font-weight: lighter;
  }

  span {
    display: inline-block;
    margin-left: 5px;

    :nth-child(1) {
      display: inline-block;
      color: white;
      font-size: 10pt;
      font-weight: bold;
      margin: 0;
    }

    :nth-child(2) {
      display: block;
      color: #5d5d65;
      font-size: 8pt;
      margin: 0;
    }
  }
}

.user-info-graph {
  display: inline-block;
  position: absolute;
  right: 0;
}

.people-you-may-know {
  position: relative;
  background: #18191d;
  width: 100%;
  height: 100px;

  &::before {
    content: "";
    display: block;
    border: 0;
    border-top: 2px solid #2d2e32;
    width: 100%;
  }

  span:nth-of-type(1) {
    position: relative;
    display: inline-block;
    font-size: 10pt;
    color: white;
    width: 65px;
    margin: 30px 20px 0 10px;

    &::after {
      content: "";
      position: absolute;
      height: 0px;
      width: 0px;
      padding: 0px;
      left: 100%;
      top: 50%;
      transform: translate(0, -50%);
      margin-left: 10px;
      border-top: 5px solid transparent;
      border-left: 6px solid #26CEFB;
      border-bottom: 5px solid transparent;
    }
  }

  span:nth-of-type(2) {
    position: absolute;
    font-size: 20pt;
    right: 0;
    margin-top: 27px;

    @for $i from 1 through 4 {
      :nth-child(#{$i}) {
        @include prefix(opacity, (1.0 / $i));
      }
    }
  }
}

.user-highlights {
  position: relative;
  width: 100%;
  height: 150px;
  padding: 55px 0 55px 20px;

  img {
    position: relative;
    display: inline;
    vertical-align: top;
  }
}

.user-highlights-user {
  display: inline-block;
  position: relative;
  width: 75%;
  padding-left: 20px;
}

.user-highlights-title {
  position: relative;
  font-size: 9pt;
  font-weight: bold;
  color: white;

  span {
    color: #1ab8f7;
  }
}

.user-highlights-text {
  position: relative;
  display: inline-block;
  font-size: 7pt;
  color: #adaeb3;
  margin-top: 7px;
}

.user-highlights-contact-info {
  position: relative;
  font-size: 7pt;
  color: #adaeb3;

  &::before {
    content: "";
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px solid #adaeb3;
    margin: 10px 0 10px 0;
  }

  > :nth-child(n + 2) {
    &::before {
      content: "\2022  ";
      color: #e7e7e7;
      margin: 0 5px 0 5px;
    }
  }
}

.marketplace {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 282px;
  background: #242529;
  padding: 15px 0 5px 10px;
}

.marketplace-title {
  position: relative;
  width: 100%;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;

  img {
    position: absolute;
    right: 0;
    margin-right: 10px;
  }
}

.marketplace-item {
  padding-top: 10px;
}

.marketplace-item-text {
  position: relative;
  display: inline-block;
  width: 70%;
  vertical-align: top;
  padding-left: 20px;
}

.marketplace-item-text-title {
  font-size: 9pt;
  font-weight: bold;
  color: #1ab8f7;
}

.marketplace-item-detail {
  position: relative;
  width: 100%;
  font-size: 7pt;
  color: #adaeb3;
  margin-top: 7px;

  &::after {
    content:"";
    display: block;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background:linear-gradient(transparent 20%, #242529);
  }
}

.marketplace-item-info {
  position: relative;
  font-size: 7pt;
  color: #adaeb3;
  margin-bottom: 10px;

  &::before {
    content: "";
    display: block;
    width: 100%;
    border: 0;
    border-top: 1px solid #adaeb3;
    margin: 5px 0 5px 0;
  }

  > :nth-child(n + 2) {
    &::before {
      content: "\2022  ";
      color: #e7e7e7;
      margin: 0 5px 0 5px;
    }
  }
}

.marketplace-save {
  color: white;

  &::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url("images/plus.png");
    margin-right: 1px;
    transform: translate(0, 20%);
  }
}